BasedOnStyle: LLVM
BreakBeforeBraces: Allman
AccessModifierOffset: -3
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BracedInitializerIndentWidth: 3
ConstructorInitializerIndentWidth: 3
ContinuationIndentWidth: 3
IndentWidth: 3
TabWidth: 3
UseTab: Never
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
